{% extends "base_logged_in.html" %}

{% block css %}
  <link href="/static/css/magicsuggest.css" rel="stylesheet">
{% endblock %}
{% block scriptlibs %}
  <script src="/static/js/magicsuggest-min.js"></script>
{% endblock %}


{% block header %}<h1> {{ title }}</h1>{% endblock %}


{% block content %}
<div class="well" style="margin-bottom: 5px">

    {% if existing_groups %}
        <!-- Existing Groups Section -->
        <legend id="existing-groups">Existing Groups</legend>

        <ul >
            {% for group in existing_groups %}
            <!-- Display Group Names and Deletion Links -->
            <li style="color: #00bc8c">
                <a href="/my/groups/{{ group.group_id }}" style="font-size: 18px;">{{ group.group_name }}</a>
                <a href="{{url_for("delete_group", group_id = group.group_id) }}" class="link-icon">x</a>
            </li>
            {% endfor %}
        </ul>

        <hr style="margin-top: 30px; margin-bottom: 30px;">
    {% endif %}

    <!-- Add New Group Section -->
    <legend style="float: left; width: auto; margin-bottom: 0px;">Add New Group</legend>
    <button class="btn" style="float: right;" id="show-form-btn"></button>

    <div style="clear: both"></div>

    <!-- Add New Group Form -->
    <form action="" method="post" name="submit" class="form-horizontal" id="add-group">

        {{ form.hidden_tag() }}

        <!-- Group Name Field -->
        <p style="margin-top: 15px">
            {{ form.group_name.label(class="control-label") }}
            {{ form.group_name(maxlength=24, class="form-control input-sm") }}
            {% if form.group_name.errors %}
              <span class="text-danger help-block">{{ form.group_name.errors[0] }}</span>
            {% endif %}
        </p>

        <!-- Friend MultiSelect Field -->
        <div id="friend-fields">
            {{ form.friends.label(class="control-label") }}
            {{ form.friends(class="hidden form-control input-sm") }}
            <div id="magicsuggest"></div>
            {% if form.friends.errors %}
                <span class="text-danger help-block">{{ form.friends.errors[0] }}</span>
            {% endif %}

            <!-- Notice Group Field -->
            <div id="notice-group" style="margin-top: 14px">
                {{ form.notice.label(class="control-label") }}
                {{ form.notice(maxlength=1024, class="form-control input-sm") }}
                {% if form.notice.errors %}
                  <span class="text-danger help-block">{{ form.notice.errors[0] }}</span>
                {% endif %}
            </div>
        </div>

        {{ form.showForm(class="hidden") }}

        <!-- Submit Field -->
        <p style="text-align: right; margin-top: 36px;">
          <button type="submit" id="submit" class="icon-rocket2 btn btn-success" value="submit" style="width: 125px" data-loading-text=" adding...">
             <span class="btn-txt">add group</span>
          </button>
        </p>
    </form>
    <!-- End Add New Group Section -->

</div>
{% endblock %}

{% block scripts %}
<script>
    // Scripts for My Groups Page
    var ms;
    var choices = [];
    var defaults = [];
    
    // Hookin for Bootstrap JS to disable the submit button during submission
    $('#submit').on('click', function () {
        $(this).button('loading');
    });
    
    // Show/Hide Add New Group Section
    if ($('#showForm').is(':checked')) {
        $("#add-group").show('blind');
        $("#show-form-btn").addClass("icon-delete")
        $("#show-form-btn").addClass("btn-default")
    }
    else {
        $("#show-form-btn").addClass("icon-plus");
        $("#show-form-btn").addClass("btn-success")
        $("#add-group").hide();
    }

    if ($('#existing-groups').length == 0) {
        $('#showForm').prop("checked", true);
    }

    $("#show-form-btn").on('click', function() {
        $("#add-group").toggle();
        $('#showForm').prop("checked", !$('#showForm').prop("checked"));
        $("#show-form-btn").toggleClass("icon-plus");
        $("#show-form-btn").toggleClass("btn-default")
        $("#show-form-btn").toggleClass("icon-delete");
        $("#show-form-btn").toggleClass("btn-success")
        $("#show-form-btn").blur();
    });


    // Show/Hide Notice Section
    if (!$("#friends").val()) {
        $('#notice-group').hide()
        $('#notice').val("")
    }
    else {
        $('#notice-group').show()
    }

    // Setup for Friends MagicSelect
    $("#friends option").each(function() {
        choices.push({ "id": $(this).val() + "", "name": $(this).text() + "" });
    });

    if (choices.length==0) {
        $("#friend-fields").html("");
    }

    ms = $('#magicsuggest').magicSuggest({
        placeholder: ' Add friends to this group.',
        allowFreeEntries: false,
        highlight: false,
        data: choices,
        value: $("#friends").val()
    });

    $(ms).on('selectionchange', function(){
        $("#friends").val(this.getValue())

        if (!$("#friends").val()) {
            $('#notice-group').hide();
            $('#notice').val("");
        }
        else {
            $('#notice-group').show()
        }
    });
</script>
{% endblock %}
