{% extends "base_logged_in.html" %}

{% block header %}<h1> {{ title }}</h1>{% endblock %}

{% block content %}

<div class="well" style="padding-bottom: 25px; padding-top: 40px; padding-right: 50px; padding-left: 50px;">
    <div class="row">

        <!-- Image Section -->
        {% for image in images.items %}
            <div class="thumb-info" id="picture{{ image.photo_id }}">

                <!-- Buttons to delete/edit Picture -->
                <div class="caption pull-right">
                    <div class="pull-right thumb-ctrl">
                        <a href="{{ url_for('delete_picture', page=images.page, id=image.photo_id) }}"
                           class="btn btn-default btn-del icon-delete" role="button" ></a>
                        <a href="{{ url_for('picture', id=image.photo_id, page=images.page, from_page=2) }}"
                           class="btn btn-success icon-kub-cog btn-edt" role="button" ></a>
                    </div>
                </div>

                <!-- Thumbnail -->
                <a href="{{ url_for('picture_details', id=image.photo_id, page=images.page, from_page=2) }}">
                    <div class="thumb pull-left">
                        <img class="thumb-img" src="{{ server_folder }}{{ image.thumbnail.decode() }}"></img>
                    </div>
                </a>

                <!-- Image Text Fields -->
                <div class="thumb-cap">

                    <!-- Title -->
                    <h3 style="margin-top:8px;">
                      {% if image.subject %}
                        {{ image.subject }}
                      {% else %}
                        Untitled
                      {% endif %}
                    </h3>

                    <div class="thumb-data">

                        <!-- Permission Label -->
                        <span class="label
                            {% if image.group.group_name == "public"%}
                              label-success
                            {% elif image.group.group_name == "private" %}
                              label-danger
                            {% else %}
                              label-warning
                            {% endif %}"> {{ image.group.group_name }}
                        </span>

                        <!-- Date and # of Views -->
                        <span style="font-size: 14px; margin-left: 5px;">
                            uploaded {{ image.timing }} --- {{ image.viewed_by|length }}
                                {% if image.viewed_by|length == 1 %}
                                    view
                                {% else %}
                                    views
                                {% endif %}
                        </span>
                    </div>

                    <!-- Place and Description Fields -->
                    {% if image.place %}
                        <div class="thumb-txt"><b>Location: </b> {{ image.place }}</div>
                    {% endif %}

                    {% if image.description %}
                        <div class="thumb-txt"><b>Description: </b>{{ image.description }}</div>
                    {% endif %}
                </div>

                <div class="clearfix"> </div>
            </div>
        {% endfor %}
    </div>

    <!-- Pagination -->
    <div class="row" style="text-align: center">

        {% if images.pages > 1 %}
        <ul class="pagination">

            {% if images.has_prev %}
                <li><a href="{{ url_for('pictures', page=images.prev_num) }}">«</a></li>
            {% endif %}

            {% if images.page > 2 %}
                <li><a href="{{ url_for('pictures', page=1) }}">1</a></li>
                <li class="static"><a href="#">...</a></li>
            {% endif %}

            <li class="active"><a href="{{ url_for('pictures', page=images.page) }}">{{ images.page }}</a></li>

            {% for number in range(1, 3) %}
                {% if images.page + number <=  images.pages %}
                    <li><a href="{{ url_for('pictures', page=(images.page + number)) }}">{{ images.page + number }}</a></li>
                {% endif %}
            {% endfor %}

            {% if images.page + 4 <= images.pages %}
                <li class="static"><a href="#">...</a></li>
                <li><a href="{{ url_for('pictures', page=images.pages) }}">{{ images.pages }}</a></li>
            {% endif %}

            {% if images.has_next %}
                  <li><a href="{{ url_for('pictures', page=images.next_num) }}">»</a></li>
            {% endif %}
        </ul>
    {% endif %}

    </div>
    
</div>

{% endblock %}

{% block breadcrumbs %}
    <!-- Breadcrumbs -->
    Showing {{ ((images.page - 1) * images.per_page) + 1 }} -
    
    {% if images.total < (images.per_page*images.page) %}
        {{images.total}}
    {% else %}
        {{ images.per_page*images.page }}
    {% endif %}

    of {{images.total}}

{% endblock %}

{% block scripts %}
<script>
    //Bootstrap hook to disable button on form submission
    $('#submit').on('click', function () {
        var $btn = $(this).button('loading')
    })
</script>
{% endblock %}