{% extends "base_logged_in.html" %}

{% block header %}<h1> {{ title }}</h1>{% endblock %}

{% block content %}
    <!-- Display this when no pictures are uploaded to the database. -->
    <div class="well" style="padding-bottom: 25px; padding-top: 40px; padding-right: 50px; padding-left: 50px;">
        No pictures found. Why don't you <a href="{{ url_for('uploaded_file') }}">upload some</a>?
    </div>
{% endblock %}

{% block scripts %}
<script>
    $('#submit').on('click', function () {
        var $btn = $(this).button('loading')
    })
</script>
{% endblock %}
