@charset "UTF-8";
@font-face
{ 
    font-family: pictonic;
    src: url("../fonts/pictonic.eot");
    src: url("../fonts/pictonic.eot?#iefix") format("embedded-opentype"),
        url("../fonts/pictonic.ttf") format("truetype"),
        url("../fonts/pictonic.woff") format("woff"),
        url("../fonts/pictonic.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}
 
.icon
{
	font-family: "pictonic";
	font-weight: normal; font-style: normal;
	-webkit-font-smoothing:  antialiased !important;
	-moz-font-smoothing:  antialiased !important;
	-moz-osx-font-smoothing: grayscale !important; 
	font-smoothing:  antialiased !important;
	line-height:1em;
}
 
a.icon, span.icon, small.icon {
	display: -moz-inline-stack;
	display:inline-block;
	zoom: 1;
	*display: inline;
}
 
[class^="icon-"], [class*="icon-"]
{
	font-family: "pictonic";
	font-weight: normal; font-style: normal;
	-webkit-font-smoothing:  antialiased !important;
	-moz-font-smoothing:  antialiased !important;
	font-smoothing:  antialiased !important;
	line-height:1em;
}

button[class^="icon-"]
{
	font-family: "pictonic";
	font-weight: normal; font-style: normal;
	-webkit-font-smoothing:  antialiased !important;
	-moz-font-smoothing:  antialiased !important;
	font-smoothing:  antialiased !important;
	line-height:1em;
	font-weight: bold;
	text-align: justify;
}

h1[class^="icon-"]
{
	margin-bottom: 10px;
}
 
a[class^="icon-"], a[class*="icon-"], span[class^="icon-"], span[class*="icon-"], small[class^="icon-"], small[class*="icon-"] {
	display: -moz-inline-stack;
	display:inline-block;
	zoom: 1;
	*display: inline;
}
  

.icon-kub-info:before { content:""; } 
.icon-kub-locked:before { content:""; } 
.icon-kub-link:before { content:""; } 
.icon-kub-search:before { content:""; } 
.icon-kub-trash:before { content:""; } 
.icon-kub-document:before { content:""; } 
.icon-kub-edit:before { content:""; } 
.icon-kub-tag:before { content:""; } 
.icon-kub-mail:before { content:""; } 
.icon-kub-arw-down:before { content:""; } 
.icon-wtr-fullmoon01:before { content:""; } 
.icon-wtr-saturn:before { content:""; } 
.icon-prog-bash02:before { content:""; } 
.icon-geo-triangle:before { content:""; } 
.icon-geo-quacir-01:before { content:""; } 
.icon-geo-circle-br:before { content:""; } 
.icon-geo-triangle-br:before { content:""; } 
.icon-geo-line-cir:before { content:""; } 
.icon-mail-multiple03:before { content:""; } 
.icon-folder-open:before { content:""; } 
.icon-terminal:before { content:""; } 
.icon-unordered-list:before { content:""; } 
.icon-foldr2-undo:before { content:""; } 
.icon-foldr2-redo:before { content:""; } 
.icon-foldr2-user:before { content:""; } 
.icon-foldr2-remove:before { content:""; } 
.icon-chevron-up:before { content:""; } 
.icon-chevron-down:before { content:""; } 
.icon-cl-chevron-right:before { content:""; } 
.icon-cl-chevron-up:before { content:""; } 
.icon-box-chevron-up:before { content:""; } 
.icon-cir-arrow-right:before { content:""; } 
.icon-cir-arrow-up:before { content:""; } 
.icon-cir-arrow-down:before { content:""; } 
.icon-rnd-arrow-down:before { content:""; } 
.icon-tl-undo:before { content:""; } 
.icon-avatar-1:before { content:""; } 
.icon-search:before { content:""; } 
.icon-star:before { content:""; } 
.icon-star-empty:before { content:""; } 
.icon-starception:before { content:""; } 
.icon-key-modern:before { content:""; } 
.icon-inbox-multiple:before { content:""; } 
.icon-plus:before { content:""; } 
.icon-asterisk:before { content:""; } 
.icon-checkbox-empty:before { content:""; } 
.icon-cr-add:before { content:""; } 
.icon-cr-remove:before { content:""; } 
.icon-cr-delete:before { content:""; } 
.icon-cr-ok:before { content:""; } 
.icon-cr-warning:before { content:""; } 
.icon-cr2-add:before { content:""; } 
.icon-box-ok:before { content:""; } 
.icon-spower1:before { content:""; } 
.icon-trash:before { content:""; } 
.icon-frame:before { content:""; } 
.icon-bookmark-4:before { content:""; } 
.icon-bookmark-5:before { content:""; } 
.icon-pin-3:before { content:""; } 
.icon-cog-semifull:before { content:""; } 
.icon-screenshot:before { content:""; } 
.icon-rocket2:before { margin-right: 5px; content:""; } 
.icon-warning:before { content:""; } 
.icon-bolt:before { content:""; } 
.icon-bbq1:before { content:""; } 
.icon-robot:before { content:""; } 
.icon-com-chip1:before { content:""; } 
.icon-com-chip2:before { content:""; } 
.icon-beaker3:before { content:""; } 
.icon-molecules2:before { content:""; } 
.icon-mil-medal:before { content:""; } 
.icon-lb-book-01:before { content:""; } 
.icon-user-add:before { content:""; } 
.icon-mapmarker-00:before { content:""; } 
.icon-mapmarker2-blank:before { content:""; } 
.icon-coins-01:before { content:""; } 
.icon-kub-avatar-02:before { content:""; } 
.icon-kub-cog:before { content:""; } 
.icon-kub-warning:before { content:""; } 
.icon-kub-approve:before { content:""; } 
.icon-kub-remove:before { content:""; } 
.icon-kub-like-01:before { content:""; } 
.icon-kub-like-02:before { content:""; } 
.icon-kub-download:before { content:""; } 
.icon-kub-upload:before { margin-right: 5px; content:""; } 
.icon-kub-help:before { content:""; } 
.icon-kub-arw-right:before { content:""; } 
.icon-kub-arw-left:before { content:""; } 
.icon-delete:before { vertical-align: middle; content:""; } 
.icon-minus:before { content:""; } 
.icon-box-chevron-right:before { content:""; } 
.icon-box-chevron-left:before { content:""; } 
.icon-chevron-right:before { content:""; } 
.icon-chevron-left:before { content:""; }

.icon-delete2:before { vertical-align: middle; content:""; } 