{% extends "base.html" %}

{% block scripts %}
<script>
  $('#submit').on('click', function () {
      var $btn = $(this).button('loading')
  })
</script>
{% endblock %}

{% block width %}col-lg-5{% endblock %}

{% block content %}

<h1 class="page-header">Forgot Password</h1>

<div class="well" style="margin-bottom: 5px">
<form action="" method="post" name="forgot" class="form-horizontal">

      {{ form.hidden_tag() }}
      
      <p>
          {{ form.email.label(class="control-label") }}
          {{ form.email(maxlength=128, class="form-control input-sm") }}
          {% if form.email.errors %}
            <span class="text-danger help-block">{{ form.email.errors[0] }}</span>
          {% endif %}
      </p>  
      
      <p style="text-align: right; margin-top: 30px;">
      <a href="/login" class="icon-tl-undo btn btn-default" style="margin-right: 5px; width: 102px;">
            <span class="btn-txt">cancel</span>
      </a>
      
      <button class="icon-rocket2 btn btn-success" id="submit" data-loading-text=" sending" style="width: 120px">
         <span class="btn-txt">send mail</span>
      </button>

      </p>

</form>
</div>


{% endblock %}