{% extends "base.html" %}
{% block width %}col-lg-5{% endblock %}

{% block content %}

<h1 class="page-header">Reset Password</h1>

<div class="well" style="margin-bottom: 5px">
<form action="" method="post" name="reset" class="form-horizontal">

      {{ form.hidden_tag() }}
      
      <p>
          {{ form.password.label(class="control-label") }}
          {{ form.password(maxlength=24, class="form-control input-sm") }}
          {% if form.password.errors %}
            <span class="text-danger help-block">{{ form.password.errors[0] }}</span>
          {% endif %}
      </p>

      
      <p>
          {{ form.retype_password.label(class="control-label") }}
          {{ form.retype_password(maxlength=24, class="form-control input-sm") }}
          {% if form.retype_password.errors %}
            <span class="text-danger help-block">{{ form.retype_password.errors[0] }}</span>
          {% endif %}
      </p>
      
      <p style="text-align: right; margin-top: 30px;">
      <a href="\login" class="icon-tl-undo btn btn-default" style="margin-right: 5px; width: 112px;">
            <span class="btn-txt" style="padding-right: 50px">cancel</span>
      </a>
      
      <button type="submit" class="icon-rocket2 btn btn-success" value="submit" style="width: 115px;">
         <span class="btn-txt" style="padding-right: 60px">submit</span>
      </button>
      </p>

</form>
</div>


{% endblock %}